# yaml
spring:
  web:
    resources:
      static-locations: classpath:/static/,classpath:/public/,classpath:/openapi/
  application:
    name: prices-service

  r2dbc:
    url: r2dbc:h2:mem:///pricesdb;DB_CLOSE_DELAY=-1;MODE=LEGACY
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method

resilience4j:
  circuitbreaker:
    instances:
      priceR2dbcCircuitBreaker:
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        waitDurationInOpenState: 5s
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
